*{
    margin: 0;
    padding: 0;
}

// .particles{
//     position: fixed;
//     z-index: -1;
//     top: 0;
//     right: 0;
//     left: 0;
//     bottom: 0;
//   }

.Greeting{
    position: relative;
    top: 15%;
    // align-items: center;
    // justify-content: center;
}

.profile{
    padding: 1.5rem;
    border: 0px solid black;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
}

.icon{
    padding: 2rem;
    border: 0px solid black;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
}


@media only screen and (max-width: 800px){

    .Greeting{
        position: relative;
        top: 20%;
        // align-items: center;
        // justify-content: center;
    }
    
    .profile{
        padding: 1.2rem;
        border: 0px solid black;
        border-radius: 50%;
        width: 35vw;
        height: 35vw;
    }
    
    .icon{
        padding: 1rem;
        border: 0px solid black;
        border-radius: 50%;
        width: 7vw;
        height: 7vw;
    }

}