.skillstable{
    color: black;
}

.table{

    display: flexbox;
    height: 90vh;
    width: 50vw;
    border: 0px solid #333;
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: 'Share Tech', sans-serif;
}

@media only screen and (min-width:990px) and (max-width: 1500px){
    .table{
        height: 95vh;
        width: 65vw;
    }
    

}

@media only screen and (min-width:585px) and (max-width: 989px){
    .table{
        height: 95vh;
        width: 100vw;
    }
    

}

@media only screen and (min-width:200px) and (max-width: 584px){
    .table{
        font-size: 10px;
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
    }

    .row{
        margin: 1em 1em;
        padding: 5px;
        height: 6em;
    }

    .skill{
        vertical-align: top;
        text-align: center;
        margin-top: 5px;
        margin-right: 1vw;
        display: inline-block;
    }

    .skill img{
        width: 1em;
        height: 1em;
        margin-bottom: 3px;
    }

    figcaption{
        font-size: 0px;
        visibility: hidden;
    }
    

}

.row{
    font-weight: bold;
    display: block;
    margin: 1em 2em;
    padding: 10px;
    max-width: 100%;
    height: 6em;
    border-bottom: 1px solid #333;
    border-radius: 5px;
}

.skill{
    vertical-align: top;
    text-align: center;
    margin-top: 10px;
    margin-right: 2vw;
    display: inline-block;
}

.skill img{
    vertical-align: middle;
    width: 3em;
    height: 3em;
    margin-bottom: 5px;
}

figcaption{
    
    display: block;
}